/backend/node_modules
/backend/dist
/backend/.env
/frontend/node_modules
/frontend/.env
/frontend/dist

infra/docker-compose.ec2.yml
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICPsa86KDPkBbYTLU6a5NUCtZBXpvgJqPnXPJjxs+Nqf github-actions